.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 8px;
}
.card {
  width: 300px;
  height: 80px;
  text-align: left;
  padding: 8px;
  border: 1px solid;
  margin: 8px;
  box-shadow: 5px 5px 5px hsl(0deg 0% 0% / 63%);
  display: inline-block;
}

.card .card-title {
  margin: 0;
}

.card .card-desc {
  margin: 0;
  margin-top: 16px;
  color: gray;
}

.container input {
  padding: 8px;
}